.u-section-1 .u-sheet-1 {
  min-height: 707px;
}

.u-section-1 .u-image-1 {
  width: 647px;
  height: 687px;
  margin: -13px 233px 34px auto;
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-right: 73px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 573px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 361px;
  }
}